<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
  </head>
  <body>
    <h1>
        Travel Planner
     </h1>
     <div id = "div1house">
      <h2>
        My Trips
      </h2>
        <a href="#city">
            <div class="div1">
                <h4 class="h4">+ add trip</h4>
                 </div>
        </a>
     </div>
  <div class="divA1">

   <table cellspacing=10>
      <tr>
        <td>
          <img class="image" id= 'locationImage'src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMKT4NLG3pfkLMveYGsWOfzC8M-lryPJvJFA&usqp=CAU" alt="Anime-image">
          </td>
          <td>
            <h2 class="mt">
             <div id = 'departingLocation'>My trip to: Paris,France</div> <br>
            <div id = 'departureDate'>Departure: 02/12/2022</div>   <br>
            </h2>
            <table>
                <tr>
                  <td>
                  <h3 class="fi", id = "flightNote">Flight Note: Traveling Note
                 </h3>
                </td>
                <td>
                   <br>
                </td>
              </tr>
        </table>
      </td>
    </tr>
</table>
  <div id = "div2house">
      <div class="div2" onclick="return Client.deleteTrip(event)">
      <h4 class="h4">- remove trip</h4>
        </div>

    <div class="td2">
      <h2 id = "location"> Travel info</h2>
        <h4>
            Typical weather for then is: <br><br>
          <div id = "weatherInfo"> weather info</div> <br>
         
          </h4>
    </div>

  </div>
     <div class="divA2">
      <h4 class="h1">
        <form action="POST" onsubmit="return Client.handleSubmit(event)">
        My trip to: <input type="text" id = 'city' placeholder="Enter Location"> <br> <br>
        Departing: <input type="date" id = 'departingDate' placeholder="MM-DD-YYYY"><br> <br>
        Flight note: <br><textarea type="text" id='flightInfo' placeholder="Enter Flight info"></textarea><br><br>
      <button type="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">save trip</button>
    </form>
      </h4>
     </div>
     <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
  </body>
</html>