.div1{width:100px;
    height: 40px;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    text-align:left;
    border-style: solid;
    border-width: medium;
    margin-left: 50px;
  padding-left: 20px;}
.h4{position: relative;
margin:10px}
.td1{padding-right: 1100px}
.fi{margin-top: 0px;
padding-left: 30px}
.note{padding-left: 40px}
.image{padding-bottom: 20px; height: 300px; width: 400px;}
.mt{padding-left: 30px}
.div2{width:150px;
    height: 40px;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    text-align:center;
     border-style: solid;
    border-width: medium;
  padding-left: 20px;
margin-top:-100px}
.div3{width:150px;
    height: 40px;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    text-align:center;
     border-style: solid;
    border-width: medium;
    padding-left: 20px}
.div4{width:150px;
    height: 40px;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    text-align:center;
     border-style: solid;
    border-width: medium;
  padding-left: 20px}
  .td2{padding-left: 300px;}
  .h1{text-align: center;}
  .divA2{background-color: grey; 
    padding-bottom: 20px; 
    padding-top: 20px;
}
  .divA1{background-color: pink}